.footer {
  background-color: var(--background-color-footer);
  padding: 60px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color-three);
}
.footer-address {
  .link {
    display: block;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    &:focus,
    &:hover {
      color: var(--accent-color-two);
    }
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}

.link-address-footer {
  color: var(--address-footer-color);
}

.link-contacts-footer {
  color: var(--contact-footer-color);
}

.join-us {
  margin-left: 70px;
}
.join-us-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--h1-color);
}
.footer-social-list {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.footer-social-item + .footer-social-item {
  margin-left: 10px;
}
.footer-social-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  &:hover,
  &:focus {
    background-color: var(--accent-color-two);
  }
}
.footer-social-icon {
  fill: var(--icon-color-two);
}

.subscribe {
  margin-left: 93px;
}
.subscribe-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--h1-color);
  margin-bottom: 20px;
}
.subscribe-wrapper {
  display: flex;
}
.subscribe-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  outline: none;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--button-text-color);
  &:focus {
    border-color: var(--accent-color-two);
  }
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.subscribe-btn {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  text-align: center;
  margin-left: 12px;
  height: 50px;
  padding: 10px 28px;
}
.subscribe-btn-text {
  margin-right: 10px;
  color: inherit;
}
.subscribe-icon {
  fill: var(--icon-color-two);
}
